<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>

<% include header %>
<div class="container" style="width: 100%; margin-top: 3vh">
  <form id="form-daftar-beasiswa" method="POST" action="/form_daftar_beasiswa">
    <div class="card" style="background-color: #fcfcfc">
      <label id="judulForm" style="vertical-align: middle; text-align: center; font-size: 4vh">FORM PENDAFTARAN BEASISWA
      </label>

      <div class="form-group col-md-6">
        <label for="inputKodeBeasiswa" style="font-size: 2vh">Kode Beasiswa</label>
        <select id="inputState" class="form-control" name="kode_beasiswa">
          <option selected="selected" value="<%= data.id %>"><%= data.id %></option>
        </select>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNPM" style="font-size: 2vh">NPM</label>
            <input id="inputNPM" type="text" class="form-control" id="inputNPM" placeholder="1234567890" name="NPM">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail" style="font-size: 2vh">Email</label>
            <input id="inputEmail" type="email" class="form-control" id="inputEmail" placeholder="lorem@ipsum.co.id" name="Email">
          </div>
          <div class="form-group col-md-10">
          <label for="inputIPS" style="font-size: 2vh">IPS</label>
          <input type="text" class="form-control" id="inputIPS" placeholder="4.00" name="IPS">
          <small id="IPSAdalah" class="form-text text-muted">Indeks Prestasi Semester</small>
        </div>
        </div>
        <button type="submit" href="#" class="btn btn-primary">SUBMIT</button>
      </div>
  </form>
</div>

<script type="text/javascript">

</script>

</body>
</html>