<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
  <% include header %>
    <style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
<div class="container" id="container" style="height: 70vh">
  <form>

      <label id="judulForm" style=" font-size: 4vh">DAFTAR BEASISWA
      </label>
        <table id="myTable" style="vertical-align: middle">
          <tr>
           <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
            <th onclick="sortTable(0)">No. Urut</th>
            <th onclick="sortTable(1)">Kode Skema</th>
            <th onclick="sortTable(2)">Waktu Penutupan</th>
            <th onclick="sortTable(3)">Status</th>
            <th onclick="sortTable(4)">Jumlah Pendaftar</th>
            <th>Lihat Beasiswa</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Bf</td>
            <td>2013-12-31</td>
            <td>Ditutup</td>
            <td>5</td>
            <td><button><a style="text-decoration: none; color: black" href="/pilih_calon">Lihat</a></button>
          </tr>
          <tr>
            <td>2</td>
            <td>Bebbkop</td>
            <td>2014-02-06</td>
            <td>Dibuka</td>
            <td id="Status">35</td>
            <td><button>Lihat</button>
          </tr>
        </table>
  </form>
</div>

<script>
  function ubahKeAktif(n){
    document.getElementById("myTable").getElementsByTagName("TR")[n].getElementsByTagName("TD")[4].innerHTML = "Aktif";
  }
  function ubahKePasif(n){
    document.getElementById("myTable").getElementsByTagName("TR")[n].getElementsByTagName("TD")[4].innerHTML = "Tidak Aktif";
  }
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</script>
</body>
</html>