<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<% include header %>
<div style="width: 100%; margin-right: auto;margin-left: auto; margin-top: 3vh">
  <form>
    <div class="card" style="background-color: #fcfcfc">
      <label id="judulForm" style="vertical-align: middle; text-align: center; font-size: 4vh">FORM LAPORAN PEMBAYARAN BEASISWA</label>
      <div class="form-group col-md-12">
        <label for="inputUrutan" style="font-size: 2vh">Urutan</label>
        <input type="text" class="form-control" id="inputUrutan" placeholder="Masukkan Urutan.." name="nomorUrut">
        <label for="inputKodeBeasiswa" style="font-size: 2vh">Kode Skema Beasiswa</label>
        <select id="inputState" class="form-control" onchange="show()" name="kode">
          <option id="defOp">Pilih Kode Skema Beasiswa..</option>
          <% for (let i = 0; i < kode.length; i++ ) { %>
          <option selected="selected" value="<%= kode[i].kode %>"><%= kode[i].kode %>
          </option>
          <% } %>
        </select>
        <label for="inputNoUSB" style="font-size: 2vh">Nomor Urut Skema Beasiswa</label>
        <select id="inputNoUSB" class="form-control" disabled="true" name="noUSB">
          <option id="inputNoUSB" >Pilih Nomor Urut Skema Beasiswa..</option>
          <% for (let i = 0; i < kode.length; i++ ) { %>
          <option selected="selected" value="<%= i+1 %>"><%= i+1 %>
          </option>
          <% } %>
        </select>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNPM" style="font-size: 2vh">NPM</label>
            <input id="inputNPM" type="text" class="form-control" id="inputNPM" placeholder="1234567890" name="NPM">
          </div>
          <div class="form-group col-md-6">
            <label for="inputKeterangan" style="font-size: 2vh">Keterangan</label>
            <input id="inputKeterangan" type="text" class="form-control" id="inputKeterangan" placeholder="ket.." name="keterangan">
          </div>
          <div class="form-group col-md-6"><label style="font-size: 2vh">Tanggal Bayar</label>
            <input id="inputKeterangan" type="date" class="form-control" id="inputTanggal" name="tanggalBayar">
          </div>
          <div class="form-group col-md-6">
            <label for="inputIPS" style="font-size: 2vh">Nominal</label>
            <input type="text" class="form-control" id="inputNominal" placeholder="Masukkan Nominal.." name="nominal">
          </div>
        </div>
        <button type="submit" href="#" onclick="saveFunction(); return false;" class="btn btn-primary">SUBMIT</button>
      </div>

    </div>
  </form>
</div>

<script type="text/javascript">
  function show() {
    document.getElementById("inputNoUSB").disabled = false;
    document.getElementById("inputState").getElementById("defOp").disabled = true;
}

</script>

</body>

</html>