<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beasiswa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1> Informasi Beasiswa </h1>
      <hr>
      <table style="width:100%">
        <tr>
          <th>No</th>
          <th>Nama Beasiswa</th>
          <th>Waktu Tutup</th>
          <th>Status</th>
          <th>Jumlah Pendaftar</th>
        </tr>
        <% for (let i = 0; i < rows.length; i++ ) { %>
          <tr>
            <td><%= (page-1) * 10 + i+1 %> </td>
            <% if (rows[i].status == 'Aktif') { %>
              <td> <b> <a href="/beasiswa/detail/<%= rows[i].kode %>"><%= rows[i].nama %> </a> </b> </td>
            <% } else { %>
              <td> <b> <%= rows[i].nama %> </b> </td>
            <% } %>
            <td><%= moment(rows[i].tgl_tutup_pendaftaran).format('DD-MMM-YYYY') %></td>
            <td><%= rows[i].status %></td>
            <td><%= rows[i].jumlah_pendaftar %></td>
          </tr>
        <% } %>
      </table>
      <ul class="pagination">
        <a href="/beasiswa/<%= parseInt(page)-1 %>">Previous</a>
        <a href="/beasiswa/<%= parseInt(page)+1 %>">Next</a>
      </ul>
    </div>
  </body>
</html>
