<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beasiswa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
        <% if (data.status) { %>
          <div class="alert alert-<%= data.status %>">
            <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong><%= data.info %>!!</strong> <%= data.message %>
          </div>
        <% } %>
        <h1> Tambah Beasiswa </h1>
        <hr>
        <form action="/beasiswa/add/" method="post" id="beasiswa-form">
          <select name="kode" class="ghost-input-outline" required>
            <option value="" disabled selected> Pilih kode beasiswa </option>
            <% for (let i = 0; i < rowsKode.length; i++) { %>
              <option value="<%= rowsKode[i].kode %>"><%= rowsKode[i].kode %></option>
            <% } %>
          </select>
          <input name="noUrut" type="number" class="ghost-input-outline" placeholder="Masukkan nomor urut" required>
          <input name="tgl_mulai" type="date" class="ghost-input-outline" placeholder="Tanggal mulai pendaftaran" required>
          <input name="tgl_tutup" type="date" class="ghost-input-outline" placeholder="Tanggal tutup pendaftaran" required>
          <input type="submit" class="ghost-button" value="Buat Beasiswa">
        </form>
      </fieldset>
    </div>
  </body>
</html>
