<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beasiswa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
        <% if (data.status) { %>
          <div class="alert alert-<%= data.status %>">
            <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong><%= data.info %>!!</strong> <%= data.message %>
          </div>
        <% } %>
        <h1> Membuat Paket Beasiswa </h1>
        <hr>
        <form action="/beasiswa/add-paket/" method="post" id="beasiswa-form">
          <input name="kode" type="number" class="ghost-input-outline" placeholder="Masukkan kode beasiswa" required>
          <input name="nama_paket" type="text" class="ghost-input-outline" placeholder="Masukkan nama paket" required>
          <select name="jenis_paket" class="ghost-input-outline" required>
            <option value="" disabled selected> Pilih jenis paket </option>
            <% for (let i = 0; i < rowsJenis.length; i++) { %>
              <option value="<%= rowsJenis[i].jenis %>"><%= rowsJenis[i].jenis %></option>
            <% } %>
          </select>
          <textarea name="deskripsi" class="ghost-input-outline" maxlength="50" placeholder="Masukkan deskripsi"></textarea>
          <div id=syarat-wrapper>
            <div>
              <textarea name="syarat[]" class="ghost-input-outline" placeholder="Masukkan syarat" style="margin-bottom: 4px;" required></textarea>
            </div>
          </div>

          <button id="add-button" type="button" class=reg-button style="float: right"> Tambah Syarat </button>
          <input type="submit" class="ghost-button" value="Buat Paket">

        </form>
      </fieldset>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    let x = 1;
    $("#add-button").click(function(e){
      e.preventDefault();
      x++;

      $("#syarat-wrapper").append(
        `
        <div>
            <textarea name="syarat[]" class="ghost-input-outline" placeholder="Masukkan syarat" style="margin-bottom: 4px;" required></textarea>
            <a href="#" id="remove_field"> Hapus Syarat </a>
        </div>
        `
      );
    });

    $("#syarat-wrapper").on("click", "#remove_field", function(e){
      e.preventDefault();
      $(this).parent('div').remove();
      x--;
    })
  });
</script>