<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Isi Beasiswa</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
        <h3><%= data.nama %> - <%= data.kode %></h3>
        <p><%= data.jenis %> dibuat oleh <%= data.nomor_identitas_donatur %></p>
        <p><%= data.deskripsi %></p>
        <p> Syarat :</p>
        <ol>
          <% for (let i = 0; i < dataSyarat.length; i++ ) { %>
            <li><%= dataSyarat[i].syarat %></li>
          <% } %>
        </ol>
        <button onclick="goBack()",
                type="button" class="reg-button" style="float: left">
              Kembali
        </button>
        <button onclick="goRegister()",
                type="button" class="reg-button" style="float: left">
              Daftar Beasiswa Ini
        </button>
      </fieldset>
    </div>
  </body>
</html>

<script type="text/javascript">
  function goBack() {
    window.history.back();
  }

  function goRegister() {
    location.href = '/form_daftar_beasiswa_selected/<%= data.kode %>';
  }
</script>