<div class="header">
  <a href="/" class="logo">Simbion</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/beasiswa/1">Beasiswa</a>
    <a href="/pengumuman/1">Pengumuman</a>
  </div>
</div>