<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
      <form action = "/beasiswa/0" method = "get">
        <input type="submit" class="ghost-button" name="listofbeasiswa" value="List Beasiswa" />
      </form>
      <form action = "/lihat_pengumuman" method = "post">
        <input type="submit" class="ghost-button" name="lihatpengumuman" value="Melihat Pengumuman" />
      </form>
      <% if(loggedin === null){ %>
      <form action = "/log" method = "post">
        <input type="submit" class="ghost-button" name="login" value="Login" />
      </form>
      <form action = "/reg" method = "post">
        <input type="submit" class="ghost-button" name="register" value="Register" />
      </form>
      <% } %>
      <% if(isadmin !== null){ %>
      <form action = "/interview_check" method = "post">
          <input type="submit" class="ghost-button" name="interview-check" value="Lihat Tempat Wawancara" />
        </form>
        <form action = "/interview_create" method = "post">
          <input type="submit" class="ghost-button" name="create-interview" value="Membuat Tempat Wawancara" />
        </form>
        <form action = "/annnounce" method = "post">
          <input type="submit" class="ghost-button" name="announce" value="Membuat Pengumuman" />
        </form>
        <form action = "/logout" method = "post">
          <input type="submit" class="ghost-button" name="logout" value="Logout" />
        </form>
        <% } %>
        <% if(ismahasiswa !== null){ %>
         <form action = "/scholarship_check" method = "post">
          <input type="submit" class="ghost-button" name="scholarship-check" value="Lihat Status Beasiswa" />
        </form>
        <form action = "/form_daftar_beasiswa" method = "get">
          <input type="submit" class="ghost-button" name="scholarship-list" value="Daftar Beasiswa" />
        </form>
        <form action = "/scholarship_result" method = "post">
          <input type="submit" class="ghost-button" name="scholarship-result" value="Lihat Hasil Seleksi Beasiswa" />
        </form>
        <form action = "/logout" method = "post">
          <input type="submit" class="ghost-button" name="logout" value="Logout" />
        </form>
        <% } %>
        <% if(isdonatur !== null){ %>
        <form action = "/pilih_calon" method = "get">
          <input type="submit" class="ghost-button" name="scholarship-owner-check" value="Lihat Beasiswa Anda" />
        </form>
        <form action = "/pilih_beasiswa" method = "get">
          <input type="submit" class="ghost-button" name="scholarship-create" value="Membuat Beasiswa Baru" />
        </form>
        <form action = "/pembayaran_beasiswa" method = "get">
          <input type="submit" class="ghost-button" name="scholarship-create" value="Laporan Pembayaran Beasiswa" />
        </form>
        <form action = "/announce" method = "post">
          <input type="submit" class="ghost-button" name="announce" value="Membuat Pengumuman" />
        </form>
        <form action = "/logout" method = "post">
          <input type="submit" class="ghost-button" name="logout" value="Logout" />
          <% } %>
      </fieldset>
    </div>
  </body>
</html>
