<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
        <form action="/login" method="post">
          <h3> Username: </h3>
          <input name="username" type="text" class="ghost-input" placeholder="Enter your username" required>
          <h3> Password: </h3>
          <input name="password" type="password" class="ghost-input" placeholder="Enter your password" required>
          <input type="submit" class="ghost-button" value="Login">
        </form>
        <form action="/reg" method="post">
          <h3>Doesn't have an account?</h3>
          <input type="submit" class="ghost-button" value ="Register">
        </form>
      </fieldset>
    </div>
  </body>
</html>
