<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <fieldset>
        <h3><%= data.judul %> - [<%= data.kode_skema_beasiswa %> - <%= data.no_urut_skema_beasiswa_aktif %>] </h3>
        <p> ditulis oleh <%= data.username %> pada <%= moment(data.tanggal).format("DD MMMM YYYY") %> </p>
        <p><%= data.isi %></p>
        <button onclick="goBack()",
                type="button" class="reg-button" style="float: left">
              Kembali
        </button>
      </fieldset>
    </div>
  </body>
</html>

<script type="text/javascript">
  function goBack() {
    window.history.back();
  }
</script>
