<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Beasiswa</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% include header %>
		<div class="container">
			<h1> Pengumuman Beasiswa </h1>
			<hr>
			<table style="width:100%">
				<tr>
					<th>Judul</th>
					<th>Tanggal</th>
					<th>Kode Beasiswa</th>
					<th>Pembuat</th>
				</tr>
				<% for (let i = 0; i < rows.length; i++ ) { %>
					<tr>
						<td>
							<b>
								<a href="/pengumuman/detail/?tanggal=<%=moment(rows[i].tanggal).format('YYYY-MM-DD')%>
															&kode=<%= rows[i].kode_skema_beasiswa%>
															&noUrut=<%= rows[i].no_urut_skema_beasiswa_aktif %>
															&username=<%= rows[i].username %>">
									 <%= rows[i].judul %>
							 </a>
							</b>
						</td>
						<td><%= moment(rows[i].tanggal).format('DD-MM-YYYY') %></td>
						<td><%= rows[i].kode_skema_beasiswa %></td>
						<td><%= rows[i].username %></td>
					</tr>
				<% } %>
			</table>
			<ul class="pagination">
        <a href="/pengumuman/<%= parseInt(page)-1 %>">Previous</a>
        <a href="/pengumuman/<%= parseInt(page)+1 %>">Next</a>
      </ul>
		</div>
	</body>
</html>
