<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pilih Jenis Penambahan</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <form action = "/beasiswa/add" method = "get">
          <input type="submit" class="ghost-button" name="register-mahasiswa" value="Tambah Beasiswa" />
      </form>
      <form action = "/beasiswa/add-paket" method = "get">
        <input type="submit" class="ghost-button" name="register-donatur" value="Tambah Paket Beasiswa" />
      </form>
    </div>
  </body>
</html>
