<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <form action = "/register_mahasiswa" method = "post">
          <input type="submit" class="ghost-button" name="register-mahasiswa" value="Mahasiswa" />
      </form>
      <form action = "/register_donatur" method = "post">
        <input type="submit" class="ghost-button" name="register-donatur" value="Donatur" />
      </form>
    </div>
  </body>
</html>
