<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1>
        PENDAFTARAN DONATUR
      </h1>
      <fieldset>
        <form action="/donaturtype" method="post">
          <input name="donaturtype" type="radio" value="individual" checked="checked" required > Individual Donatur<br>
          <input name="donaturtype" type="radio" value="yayasan" required> Yayasan Donatur<br>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
      </fieldset>
    </div>
  </body>
</html>
