<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1>
        FORM PENDAFTARAN MAHASISWA
      </h1>
      <fieldset>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
        <form action="/regstudent" method="post">
          <h3>Username : </h3>
          <input name="username" type="text" class="ghost-input" placeholder="Enter your Username" required>
          <h3>Password : </h3>
          <input name="password" type="text" class="ghost-input" placeholder="Enter your Password" required>
          <h3>NPM : </h3>
          <input name="npm" type="text" class="ghost-input" placeholder="Enter your NPM" required>
          <h3>Email : </h3>
          <input name="email" type="text" class="ghost-input" placeholder="Enter your Email" required>
          <h3>Nama Lengkap : </h3>
          <input name="fullname" type="text" class="ghost-input" placeholder="Enter your Fullname" required>
          <h3>No. Telp : </h3>
          <input name="telp" type="text" class="ghost-input" placeholder="Enter your Phone Number">
          <h3>Alamat Tempat Tinggal : </h3>
          <input name="address" type="text" class="ghost-input" placeholder="Enter your Full Address" required>
          <h3>Alamat Domisili : </h3>
          <input name="domicile" type="text" class="ghost-input" placeholder="Enter your Domicile" required>
          <h3>Instansi Bank : </h3>
          <input name="bank" type="text" class="ghost-input" placeholder="Enter your Bank Agency" required>
          <h3>Nomor Rekening : </h3>
          <input name="accno" type="text" class="ghost-input" placeholder="Enter your Bank Account Number " required>
          <h3>Nama Pemilik : </h3>
          <input name="owner" type="text" class="ghost-input" placeholder="Enter the Owner Name" required><br>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
      </fieldset>
    </div>
  </body>
</html>
