<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1>
        FORM PENDAFTARAN YAYASAN DONATUR
      </h1>
      <fieldset>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
        <form action="/yayasan_donation" method="post">
          <h3>Username : </h3>
          <input name="username" type="text" class="ghost-input" placeholder="Enter your Username" required>
          <h3>Password : </h3>
          <input name="password" type="password" class="ghost-input" placeholder="Enter your Password" required>
          <h3>Nomor Identitas : </h3>
          <input name="idnum" type="text" class="ghost-input" placeholder="Enter your ID Number" required>
          <h3>Nomor SK Yayasan : </h3>
          <input name="sknum" type="text" class="ghost-input" placeholder="Enter your SK Number" required>
          <h3>Email : </h3>
          <input name="email" type="email" class="ghost-input" placeholder="Enter your Email" required>
          <h3>Nama Yayasan : </h3>
          <input name="nameyas" type="text" class="ghost-input" placeholder="Enter your Foundation Name" required>
          <h3>Nomor Telp Contact Person : </h3>
          <input name="telp" type="text" class="ghost-input" placeholder="Enter your Phone Number">
          <h3>NPWP : </h3>
          <input name="npwp" type="text" class="ghost-input" placeholder="Enter your NPWP" required>
          <h3>Alamat Yayasan : </h3>
          <input name="address" type="text" class="ghost-input" placeholder="Enter your Foundation Address" required><br>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
      </fieldset>
    </div>
  </body>
</html>
