<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tempat Wawancara</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1>
        TEMPAT WAWANCARA
      </h1>
      <fieldset>
        <% if(error !== null) { %>
          <p><%= error %></p>
        <% } %>
        <% if(error === null) { %>
        <form action="/create_interview" method="post">
          <h3> Kode </h3>
          <input name="kode" type="text" class="ghost-input" placeholder="Enter your Code" required>
          <h3> Nama </h3>
          <input name="nama" type="text" class="ghost-input" placeholder="Enter your Name" required>
          <h3> Lokasi </h3>
          <input name="lokasi" type="text" class="ghost-input" placeholder="Enter your Location" required> <br>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
        <% } %>
        <% if(notlogin !== null) { %>
          <form action="/login" method="get">
              <input type="submit" class="ghost-button" value="Login">
          </form>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
